.mediumHeight {
  height: 70vh;
}
.mediumHeight small {
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  margin: 0 0 10px 0;
  color: #ebd7b2;
  font-weight: 600;
}
.mediumHeight h1 {
  color: #fff;
  font-size: 3.1875rem;
  margin: 0 0 10px 0;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .mediumHeight h1 {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .mediumHeight h1 {
    font-size: 2.25rem;
  }
}
