.rounded_container {
  border-radius: 15px;
}

.box_item_info {
  background-color: #fff;
  z-index: 9;
  position: relative;
  padding: 40px 40px 20px 40px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.box_item_info small {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #978667;
}
.box_item_info h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.facilities ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}
.facilities ul li {
  float: left;
  display: flex;
  align-items: center;
  line-height: 1;
  margin: 0 25px 10px 0;
}
.facilities ul li:last-child {
  margin: 0;
}
.facilities ul li i {
  height: 36px;
  font-size: 1.875rem;
  color: #978667;
  margin-right: 15px;
}
.box_item_footer {
  border-top: 2px solid #ededed;
  margin-top: 15px;
  padding: 25px 0 15px 0;
}
.box_item_footer a.animated_link {
  color: #333;
}
.row_list_version_1 {
  margin-bottom: 60px;
}
.box_item_info {
  max-width: 750px;
  margin: -250px 60px 60px 60px;
}
/* .row_list_version_2 {
  margin-bottom: 120px;
}
.row_list_version_2 .owl-carousel .owl-dots {
  right: auto;
  left: 15px;
}
.row_list_version_2 .box_item_info {
  margin: 0 0 0 -100px;
}
.row_list_version_2.inverted .owl-carousel .owl-dots {
  left: inherit;
  right: 15px;
}
.row_list_version_2.inverted .box_item_info {
  margin: 0 -100px 0 0;
} */
/* .row_list_version_3 {
  margin-bottom: 60px;
}
.row_list_version_3 .box_item_info {
  max-width: 750px;
  margin: -100px 60px 60px 60px;
} */
/* remove from Booking.module.css if used elsewhere */
/* .booking_wrapper {
  border-radius: 10px;
  background-color: rgba(151, 134, 103, 0.05);
  padding: 20px 20px 0 20px;
} */
/* .booking_wrapper hr {
  border-color: #d9e1e6;
  opacity: 1;
  margin: 0 0 25px 0;
} */
/* remove from Booking.module.css if used elsewhere */
/* .booking_wrapper .form-control::-moz-placeholder {
  color: #333;
}
.booking_wrapper .form-control::placeholder {
  color: #333;
} */
/* .owl-carousel.border-radius .owl-item {
  border-radius: 10px;
  overflow: hidden;
} */

@media (max-width: 767px) {
 .facilities ul li {
    float: none;
    width: 100%;
  }
  /* .row_list_version_1 .box_item_info {
    margin: -150px 10px 0 10px;
    padding: 20px 25px 10px 25px;
  }
  .row_list_version_2 {
    margin-bottom: 70px;
  }
  .row_list_version_2 .box_item_info {
    margin: -50px 10px 0 10px;
    padding: 20px 25px 10px 25px;
  }
  .row_list_version_2.inverted .box_item_info {
    margin: -50px 10px 0 10px;
    padding: 20px 25px 10px 25px;
  }
  .row_list_version_3 .box_item_info {
    margin: -40px 10px 0 10px;
    padding: 20px 25px 10px 25px;
  } */
}

/* @media (max-width: 1199px) {
    .row_list_version_2 .box_item_info {
    margin: -150px 30px 0 30px;
  }
  .row_list_version_2.inverted .box_item_info {
    margin: -50px 30px 0 30px;
  }
} */