.parallax_section_1 {
  overflow: hidden;
  height: 70vh;
}

.box_overlay {
  background-color: #24262d;
  padding: 45px 45px 45px 225px;
  min-height: 170px;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
}
.pic {
  position: absolute;
  left: 45px;
  top: 45px;
  text-align: left;
}
.pic h4 {
  position: absolute;
  left: 95px;
  top: 18px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
}
.pic h4 small {
  display: block;
  color: #fff;
  margin-top: 3px;
  letter-spacing: normal !important;
}
.pic figure {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.pic figure img {
  width: 80px;
  height: auto;
}
.comment {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 30px;
  font-size: 1.125rem;
  font-style: italic;
  text-align: left;
}

@media (max-width: 991px) {
    .parallax_section_1 {
    min-height: 650px;
  }
}

@media (max-width: 767px) {
    .box_overlay {
    padding: 30px;
  }
  .pic {
    position: static;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .pic h4 {
    position: static;
  }
  .pic figure {
    margin: 0 auto 10px;
  }
  .comment {
    text-align: center;
    border: 0;
    padding: 0;
  }
}