.box_cat_rooms {
  display: block;
  margin-bottom: 25px;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.info {
  position: absolute;
  width: 100%;
  z-index: 9;
  display: block;
  padding: 25% 30px 0 30px;
  color: #fff;
  left: 0;
  bottom: -75px;
  padding-bottom: 60px;
  backface-visibility: hidden;
  transform: translate(0, 0);
  transition: all 0.4s ease;
  background: linear-gradient(to bottom, transparent, #000);
}
.info small {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #999;
  display: block;
  margin-bottom: 0;
  font-size: 0.75rem;
  color: #fff;
}
.info h3 {
  color: #fff;
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.info span {
  font-size: 0.9375rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  opacity: 0;
  position: relative;
}
.info span:before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 10px;
  height: 2px;
  content: "";
  transition: width 500ms ease;
  background-color: #fff;
}
.info span:hover {
  background-color: #24262d;
  border-color: transparent;
}
.box_cat_rooms figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.box_cat_rooms:hover .info {
  transform: translate(0, -65px);
}
.box_cat_rooms:hover .info span {
  opacity: 1;
}
.box_cat_rooms:hover .info span:before {
  width: 100%;
}
a.box_cat_rooms:hover .backgroundImage {
  transform: scale(1.1);
}

@media (max-width: 991px) {
.box_cat_rooms {
    height: 400px;
  } 
}
