.footer_bg {
  position: relative;
  padding-top: 230px;
  z-index: 2;
  overflow: hidden;
}
.backgroundImage {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.3;
  filter: grayscale(100%);

  z-index: 1;
}
.gradient_over {
  background: transparent;
  background: linear-gradient(to bottom, transparent, #24262d);
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.move_content {
  margin-top: -80px;
  position: relative;
  z-index: 4;
  padding-bottom: 120px;
}
.copy {
  text-align: center;
  padding: 25px 0;
  background-color: #1f2127;
  font-size: 0.8125rem;
}
.social ul {
  display: block;
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0;
}
.social ul li {
  display: inline-block;
  margin: 0 7px;
}
.social ul li a {
  display: block;
  color: #fff;
}
.social ul li a:hover {
  color: #ebd7b2;
}
.social ul li a i {
  font-size: 1.3125rem;
}
.footer_links {
  margin-bottom: 25px;
}
.footer_links ul {
  line-height: 1.9;
}
.footer_links ul li {
  transition: opacity 0.3s ease;
}
/* When the WHOLE list is hovered, dim all items */
.footer_links ul:hover li {
  opacity: 0.4;
}
/* Keep the specifically hovered item at full opacity and move it */
.footer_links ul li:hover {
  opacity: 1;
}
.footer_links ul li a {
  display: inline-block;
  color: #fff;
}
.footer_links ul li a:hover {
  transform: translateX(10px);
}
#message-newsletter {
  font-size: 0.875rem;
  padding-bottom: 5px;
}
#newsletter h5 {
  margin: 0 0 25px 0;
}
.formGroup {
  position: relative;
}
.formGroup {
  position: relative;
}
.submitNewsletter {
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 1.375rem;
  top: 2px;
  border: 0;
  opacity: 0.6;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.submitNewsletter:hover {
  opacity: 1;
}

.formControl {
  background-color: rgba(255, 255, 255, 0.06) !important;
  border: 0 !important;
  height: 45px !important;
  border-radius: 3px !important;
  padding-left: 15px !important;
  color: #fff !important;
}
.formControl:focus {
  box-shadow: none !important;
  outline: none;
}
.formControl::placeholder {
  color: #fff;
  opacity: 0.3;
}
/* For Internet Explorer and Edge */
.formControl:-ms-input-placeholder {
  color: #fff;
}
/* For older versions of Chrome/Safari */
.formControl::-webkit-input-placeholder {
  color: #fff;
}

@media (min-width: 1200px) {
  .revealed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 1199px) {
  .revealed {
    position: static;
  }
}

@media (max-width: 767px) {
  .footer_bg {
    height: 160px;
    padding-top: 180px;
  }
  .move_content {
    padding-bottom: 60px;
  }
  #newsletter h5 {
    margin: 0 0 15px 0;
  }
}
