.parallax_wrapper {
  position: relative;
  margin-bottom: 25px;
}
.img_over {
  left: -25%;
  bottom: 10%;
  position: absolute;
  z-index: 99;
}
.img_over img {
  border: 4px solid #fff;
  width: 50%;
  height: auto;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.21);
}
.roundedImg {
  border-radius: 10px;
}
.intro em {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  font-style: normal;
  color: #555;
}